In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import folium
%config Completer.use_jedi = True
pd.set_option('display.max_rows', 300)
pd.set_option('display.max_columns', 100)

In [72]:
my_map = folium.Map(
            location=[-6.272712230682373, 106.86042785644531],
            zoom_start=90
)
my_map

In [3]:
df = pd.read_csv('data_ppdb_revisi.csv')
df

,Peringkat,Nomer Pendaftaran,Nama,Kelurahan,RW,RT,Prioritas Zonasi,Umur,Asal SMP,Jalur Daftar,Status
0,1,200107200060245,TERRA PERISAI AL KHOWARIZMI,Kramat Jati,11.0,13.0,1.0,12 th 11 bl 07 hr,49,Zonasi,Daftar Ulang
1,2,200107200060291,REZA MAULANA YAHYA,Kramat Jati,11.0,14.0,1.0,12 th 07 bl 24 hr,49,Zonasi,Daftar Ulang
2,3,200107200060087,ANDHIKA KURNIAWAN,Kramat Jati,11.0,14.0,1.0,12 th 05 bl 18 hr,49,Zonasi,Daftar Ulang
3,4,200107200060080,SABIYA MALAIKA AULIA,Kramat Jati,11.0,13.0,1.0,12 th 04 bl 18 hr,49,Zonasi,Daftar Ulang
4,5,200107200060076,ATIKAH NABILAH,Kramat Jati,11.0,13.0,1.0,12 th 02 bl 06 hr,49,Zonasi,Daftar Ulang
...,...,...,...,...,...,...,...,...,...,...,...
11920,2,200100201830012,NEIRA WIDYA ANJANI,Kalibata,8.0,NaN,NaN,12 th 00 bl 07 hr,238,Tahap Kedua,Daftar Ulang
11921,3,200100201640119,MUHAMMAD REZKY AULIA,Pejaten Barat,1.0,NaN,NaN,12 th 05 bl 00 hr,238,Tahap Kedua,Daftar Ulang
11922,4,200100202380179,DEWI AMIRAH HUSNIYAH,Pejaten Barat,4.0,NaN,NaN,12 th 05 bl 06 hr,238,Tahap Kedua,Daftar Ulang
11923,5,200100200650196,DESTI ATIKA SARI,Pejaten Barat,4.0,NaN,NaN,12 th 06 bl 18 hr,238,Tahap Kedua,Daftar Ulang
11924,6,200100201830004,NASYAH ALVYYAH,Kalibata,10.0,NaN,NaN,12 th 01 bl 30 hr,238,Tahap Kedua,Daftar Ulang

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11925 entries, 0 to 11924
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Peringkat          11925 non-null  int64
 1   Nomer Pendaftaran  11925 non-null  int64
 2   Nama               11925 non-null  object
 3   Kelurahan          11832 non-null  object
 4   RW                 11805 non-null  float64
 5   RT                 8412 non-null   float64
 6   Prioritas Zonasi   7189 non-null   float64
 7   Umur               11925 non-null  object
 8   Asal SMP           11925 non-null  object
 9   Jalur Daftar       11925 non-null  object
 10  Status             11925 non-null  object
dtypes: float64(3), int64(2), object(6)
memory usage: 1.0+ MB

# Cleaning Data

## Cleaning Column `Kelurahan`

In [13]:
df['Kelurahan'] = df['Kelurahan'].str.strip() # memangkas value Kelurahan yang kelebihan spasi

In [16]:
df['Kelurahan'].value_counts()

Ciracas                   719
Lubang Buaya              585
Kebon Pala                577
Tengah                    501
Rambutan                  451
Cijantung                 441
Batu Ampar                438
Kalisari                  426
Susukan                   423
Pinang Ranti              396
Pejaten Timur             385
Kramat Jati               382
Cililitan                 377
Makasar                   368
Gedong                    355
Dukuh                     332
Pekayon                   331
Tanjung Barat             282
Cawang                    278
Jati Padang               276
Kalibata                  273
Bale Kambang              264
Halim Perdana Kusumah     257
Pejaten Barat             221
Baru                      210
Kebagusan                 170
Kelapa Dua Wetan          167
Pengadegan                155
Pasar Minggu              140
Duren Tiga                133
Ragunan                   128
Bambu Apus                126
Rawajati                  123
Ceger                     113
Setu                       98
Cipinang Melayu            83
Cikoko                     74
Pancoran                   66
Lenteng Agung              47
Cipayung                   33
Jagakarsa                  32
Kebon Baru                 22
Bidara Cina                20
Srengseng Sawah            19
Bukit Duri                 19
Cibubur                    18
Cipinang Muara             17
Cipinang Besar Utara       16
Cipinang Besar Selatan     15
Klender                    13
Rawa Bunga                 12
Cilandak Timur             11
Pisangan Baru              11
Cilangkap                  10
Tebet Timur                 9
Pejaten TImur               9
Ciganjur                    9
Tegal Parang                8
Cipinang Cempedak           8
Kampung Melayu              8
Menteng Dalam               7
Pulo Gebang                 7
Pademangan Barat            7
Jatinegara                  6
Manggarai                   6
Utan Kayu Selatan           6
Pisangan Timur              6
Penggilingan                6
Tugu Utara                  6
Kebon Manggis               5
Sunter Jaya                 5
Kapuk                       5
Tanah Tinggi                5
Pela Mampang                5
Kebon Bawang                5
Munjul                      5
Sunter Agung                5
Menteng                     5
Utan Kayu Utara             5
Kebayoran Lama Selatan      4
Tebet Barat                 4
Petamburan                  4
Pondok Bambu                4
Duri Selatan                4
Jati                        4
Petukangan Utara            4
Kayu Putih                  4
Pondok Ranggon              4
Kayu Manis                  4
Menteng Atas                4
Malaka Sari                 4
Jatinegara Kaum             4
Cakung Barat                4
Manggarai Selatan           4
Cipinang                    4
Serdang                     3
Duren Sawit                 3
Keagungan                   3
Grogol Selatan              3
Kemayoran                   3
Paseban                     3
Malaka Jaya                 3
Rawabadak Selatan           3
Kelapa Gading Barat         3
Duren TIga                  3
Pegangsaan                  3
Rawabadak Utara             3
Galur                       3
Cempaka Putih Barat         3
Kebon Melati                3
Cipedak                     3
Palmerah                    3
Pal Meriem                  3
Lebak Bulus                 3
Sungai Bambu                3
Johar Baru                  3
Pondok Kelapa               3
Jati Pulo                   3
Kramat                      2
Gunung Sahari Selatan       2
Cilandak Barat              2
Utan Panjang                2
Sumur Batu                  2
Cipete Utara                2
Semper Timur                2
Tanjung Priuk               2
Bungur                      2
Kebon Kacang                2
Cengkareng Timur            2
Kalianyar                   2
Bangka                      2
Kota Bambu Selatan          2
Kemanggisan                 2
Kelapa Gading Timur         2
Kenari                      2
Karet                       2
Pondok Pinang               2
Mampang Prapatan            2
Kota Bambu Utara            1
Petukangan Selatan          1
Duri Kepa                   1
Jelambar Baru               1
Rawa Buaya                  1
Cakung Timur                1
Tanah Sereal                1
Suka Pura                   1
Rawa Terate                 1
Kebayoran Lama              1
Karet Kuningan              1
Cengkareng Barat            1
Rawa Sari                   1
Kebon Jeruk                 1
Kebon Kelapa                1
Krukut                      1
Senayan                     1
Pondok Kopi                 1
Pademangan Timur            1
Semanan                     1
Bali Mester                 1
Cideng                      1
Kartini                     1
Pulo Gadung                 1
Duri Kosambi                1
Jembatan Besi               1
Bintaro                     1
Kali Baru                   1
Duri Pulo                   1
Lagoa                       1
Kampung Bali                1
Papango                     1
Tomang                      1
Bendungan Hilir             1
Kedaung Kali Angke          1
Pasar Manggis               1
Mangga Besar                1
Pondok Labu                 1
Kebayoran Lama Utara        1
Cipulir                     1
Srengseng                   1
Jelambar                    1
Sukabumi Selatan            1
Cikini                      1
Grogol                      1
Pegangsaan Dua              1
Slipi                       1
Kalideres                   1
Joglo                       1
Semper Barat                1
Cipinang Cimpedak           1
Rawamangun                  1
Meruya Utara                1
Kepala Dua wetan            1
Kramat Pela                 1
Gandaria Utara              1
Penjaringan                 1
Pejagalan                   1
Tegal Alur                  1
Kebon Kosong                1
Ancol                       1
Petogogan                   1
Name: Kelurahan, dtype: int64

In [15]:
df['Kelurahan'].replace(['Cilitan', 'cijantung', 'Srengsen Sawah', 'pinang ranti', 'balekambang', 'Cililtan', 'Duri selatan', 'Cilandak Badak', 
                         'Kepala Dua Wetan', 'Cipinang Besar', 'Utan Kayu utara', 'Gedonga', 'Tanjung barat', 'Balekambang'],
                        ['Cililitan', 'Cijantung', 'Srengseng Sawah', 'Pinang Ranti', 'Balekambang', 'Cililitan', 'Duri Selatan', 'Cilandak Barat', 
                         'Kelapa Dua Wetan', 'Cipinang Besar Utara', 'Utan Kayu Utara', 'Gedong', 'Tanjung Barat', 'Bale Kambang'], inplace=True)

## Cleaning Column `RW`

In [17]:
df['RW'].value_counts() #tujuannya adalah untuk mencari null value. jika ada null value maka di isi dengan angka 0

3.0     1578
2.0     1555
1.0     1459
4.0     1330
5.0     1035
6.0     1018
9.0      872
7.0      863
10.0     695
8.0      581
11.0     424
12.0     222
15.0      58
13.0      44
14.0      32
16.0      30
17.0       4
18.0       3
19.0       2
Name: RW, dtype: int64

In [18]:
df['RW'] = df['RW'].fillna(0) #null value di isi angka 0 agar tipe datanya bisa diubah dari float menjadi integer

In [19]:
df['RW'] = df['RW'].astype(int) #syntax mengubah tipe data dari float menjadi integer

## Cleaning Column `RT`

In [20]:
df['RT'].value_counts() #tujuannya adalah untuk mencari null value. jika ada null value maka di isi dengan angka 0

3.0     769
1.0     742
2.0     711
4.0     709
6.0     701
8.0     695
5.0     687
7.0     685
9.0     545
10.0    500
11.0    477
12.0    361
14.0    250
13.0    245
15.0    148
16.0     94
17.0     59
18.0     25
19.0      9
Name: RT, dtype: int64

In [23]:
df['RT'] = df['RT'].fillna(0) #null value di isi angka 0 agar tipe datanya bisa diubah dari float menjadi integer

In [24]:
df['RT'] = df['RT'].astype(int) #syntax mengubah tipe data dari float menjadi integer

## Cleaning Column `Asal SMP`

In [25]:
df['Asal SMP'].value_counts() #melihat nama value yang ada, apakah sudah seragam atau masih berantakan

35                403
SMP Negeri 259    364
281               348
SMP Negeri 257    329
239               329
49                328
SMP Negeri 81     328
SMP Negeri 179    326
SMP Negeri 268    325
SMP Negeri 184    323
20                312
182               294
210               294
150               291
SMP Negeri 106    290
126               290
SMP Negeri 275    289
SMP Negeri 209    286
SMP Negeri 263    256
SMP Negeri 174    255
41                254
218               253
SMP Negeri 80     253
SMP Negeri 272    252
SMP Negeri 214    252
SMP Negeri 171    251
SMP Negeri 222    223
SMP Negeri 102    221
24                221
SMP Negeri 246    220
227               220
SMP Negeri 208    219
154               218
107               218
SMP Negeri 217    218
238               218
SMP Negeri 223    217
SMP Negeri 287    217
SMP Negeri 251    217
SMP Negeri 128    216
163               214
SMP Negeri 103    183
SMP Negeri 203    182
SMP Negeri 188    181
155               181
SMP Negeri 50     146
Name: Asal SMP, dtype: int64

In [26]:
df['Asal SMP'].replace(['SMP Negeri 259', 'SMP Negeri 257', 'SMP Negeri 81', 'SMP Negeri 179', 'SMP Negeri 268', 'SMP Negeri 184', 'SMP Negeri 106', 
                        'SMP Negeri 275', 'SMP Negeri 209', 'SMP Negeri 263', 'SMP Negeri 174', 'SMP Negeri 80', 'SMP Negeri 272', 'SMP Negeri 214',
                        'SMP Negeri 171', 'SMP Negeri 222', 'SMP Negeri 102', 'SMP Negeri 246', 'SMP Negeri 208', 'SMP Negeri 217', 'SMP Negeri 251',
                        'SMP Negeri 287', 'SMP Negeri 223', 'SMP Negeri 128', 'SMP Negeri 103', 'SMP Negeri 203', 'SMP Negeri 188', 'SMP Negeri 50']
                       ,[259, 257, 81, 179, 268, 184, 106, 275, 209, 263, 174, 80, 272, 214, 171, 222, 102, 246, 208, 217, 251, 287, 223, 128, 103, 203, 188, 50], inplace=True)

In [27]:
df['Asal SMP'].value_counts() # memastikan kembali apakah value sudah seragam atau belum

35     403
259    364
281    348
257    329
239    329
49     328
81     328
179    326
268    325
184    323
20     312
182    294
210    294
150    291
106    290
126    290
275    289
209    286
263    256
174    255
41     254
218    253
80     253
272    252
214    252
171    251
222    223
102    221
24     221
246    220
227    220
208    219
154    218
107    218
217    218
238    218
223    217
287    217
251    217
128    216
163    214
103    183
203    182
188    181
155    181
50     146
Name: Asal SMP, dtype: int64

## Cleaning Column `Jalur Daftar`

In [28]:
df['Jalur Daftar'].value_counts() #melihat nama value yang ada, apakah sudah seragam atau masih berantakan

Zonasi                               5685
KJP                                  1663
Akademik                             1576
Afirmasi (KJP)                        632
Tahap Kedua                           478
Prestasi (Akademik)                   477
Non Akademik                          443
KJP                                   432
Prestasi (Non Akademik)               133
Inklusi                               114
Afirmasi (Inklusi)                     61
Akademik                               58
Pindah Tugas Orangtua                  56
Jalur Kedua                            44
Pindah Tugas Orangtua & Anak Guru      28
Inklusi                                14
Non Akademik                           12
Pindahan Tugas Orangtua                 9
Tahap Kedua                             9
Afirmasi (Anak Panti)                   1
Name: Jalur Daftar, dtype: int64

In [29]:
df['Jalur Daftar'] = df['Jalur Daftar'].str.strip() #memangkas kelebihan spasi. karena berdasarkan hasil value counts ada 2 value KJP yang sama

In [30]:
df['Jalur Daftar'].value_counts() #memastikan kembali apakah ada yang masih kelebihan spasi atau tidak

Zonasi                               5685
KJP                                  2095
Akademik                             1634
Afirmasi (KJP)                        632
Tahap Kedua                           487
Prestasi (Akademik)                   477
Non Akademik                          455
Prestasi (Non Akademik)               133
Inklusi                               128
Afirmasi (Inklusi)                     61
Pindah Tugas Orangtua                  56
Jalur Kedua                            44
Pindah Tugas Orangtua & Anak Guru      28
Pindahan Tugas Orangtua                 9
Afirmasi (Anak Panti)                   1
Name: Jalur Daftar, dtype: int64

In [31]:
df['Jalur Daftar'].replace(['KJP', 'Akademik', 'Non Akademik', 'Inklusi', 'Pindah Tugas Orangtua', 'Pindahan Tugas Orangtua', 'Jalur Kedua'], 
                           ['Afirmasi (KJP)', 'Prestasi (Akademik)', 'Prestasi (Non Akademik)', 'Afirmasi (Inklusi)', 'Pindah Tugas Orangtua & Anak Guru', 
                            'Pindah Tugas Orangtua & Anak Guru', 'Tahap Kedua'], inplace=True)
# mengubah nama value sesuai dengan PPDB DKI Jakarta

In [32]:
df['Jalur Daftar'].value_counts() # memastikan kembali apakah value sudah sesuai dengan PPDB DKI Jakarta atau belum

Zonasi                               5685
Afirmasi (KJP)                       2727
Prestasi (Akademik)                  2111
Prestasi (Non Akademik)               588
Tahap Kedua                           531
Afirmasi (Inklusi)                    189
Pindah Tugas Orangtua & Anak Guru      93
Afirmasi (Anak Panti)                   1
Name: Jalur Daftar, dtype: int64

## Cleaning Column `Status`

In [33]:
df['Status'].value_counts()

Daftar Ulang          11605
Tidak Daftar Ulang      179
Daftar Ulang            137
Pindah sekolah            3
Pindah Ke 49              1
Name: Status, dtype: int64

In [34]:
df['Status'] = df['Status'].str.strip() # memangkas kelebihan spasi berdasarkan value Daftar Ulang

In [35]:
df['Status'].replace(['Pindah sekolah'],['Pindah Sekolah'], inplace=True) # value Pindah Sekolah, huruf s pada sekolah masih huruf kecil bukan kapital

In [36]:
df['Status'].value_counts() # memastikan kembali apakah value sudah sesuai dengan kemauan pribadi atau belum
# sumber data pindah sekolah & pindah ke 49 di dapatkan dari teman adik yang memang saling kenal sehingga data yang didapatkan valid

Daftar Ulang          11742
Tidak Daftar Ulang      179
Pindah Sekolah            3
Pindah Ke 49              1
Name: Status, dtype: int64

## Memastikan apakah tipe data sudah tepat atau belum

In [37]:
df.dtypes

Peringkat              int64
Nomer Pendaftaran      int64
Nama                  object
Kelurahan             object
RW                     int32
RT                     int32
Prioritas Zonasi     float64
Umur                  object
Asal SMP              object
Jalur Daftar          object
Status                object
dtype: object

## Menganalisa diurutan keberapa jika mendaftar di SMA Negeri 51 Jakarta

In [38]:
df_51 = df[df['Kelurahan'].isin(['Batu Ampar', 'Bale Kambang', 'Pejaten Barat', 'Pejaten Timur', 'Cawang', 'Cililitan', 'Gedong', 'Rawajati', 
                         'Kalibata', 'Kramat Jati', 'Tengah'])].sort_values('Umur', ascending=False).reset_index()

In [39]:
df_51

,index,Peringkat,Nomer Pendaftaran,Nama,Kelurahan,RW,RT,Prioritas Zonasi,Umur,Asal SMP,Jalur Daftar,Status
0,398,1,200103200320003,MUHAMMAD ABDUL RAHMAN,Batu Ampar,4,0,3.0,15 th 00 bl 28 hr,20,Afirmasi (Inklusi),Daftar Ulang
1,996,1,200103201280002,TRI ZAHRINI,Batu Ampar,0,0,3.0,14 th 11 bl 23 hr,126,Afirmasi (Inklusi),Daftar Ulang
2,2269,8,200107200590084,ARVA SABILLILAH,Cililitan,7,12,3.0,14 th 11 bl 13 hr,50,Zonasi,Daftar Ulang
3,252,15,200102200060218,ANGGI PRATIWI,Kramat Jati,11,10,2.0,14 th 10 bl 29 hr,49,Afirmasi (KJP),Daftar Ulang
4,5678,46,200102202100027,MUHAMAD ISLAMI,Tengah,4,11,NaN,14 th 10 bl 27 hr,209,Afirmasi (KJP),Daftar Ulang
...,...,...,...,...,...,...,...,...,...,...,...,...
3592,5691,59,200102202100046,REZA DWI PERMANA,Tengah,7,6,NaN,11 th 01 bl 09 hr,209,Afirmasi (KJP),Daftar Ulang
3593,6991,9,200104202230079,ANANDA ZHAKI IBRAHIM,Gedong,3,0,NaN,11 th 00 bl 18 hr,257,Prestasi (Akademik),Daftar Ulang
3594,11571,22,200107201640050,YUANITA VERA FIRDAYANTI,Kalibata,8,4,2.0,11 th 00 bl 11 hr,182,Zonasi,Daftar Ulang
3595,937,7,200104201280204,ZIYAD TRYSTAN RABBANI SARWONO,Batu Ampar,4,0,NaN,11 th 00 bl 03 hr,126,Prestasi (Akademik),Tidak Daftar Ulang
3596,1952,69,200102200460019,GILANG RAMADHAN,Bale Kambang,1,8,3.0,10 th 08 bl 12 hr,35,Afirmasi (KJP),Daftar Ulang

In [40]:
df_51.loc[df_51['Nama'].str.contains('Tyas Adira Rahayu Ningsih', case=False)] # melihat di posisi berapa value dari kolom Nama yaitu Tyas Adira Rahayu Ningsih

,index,Peringkat,Nomer Pendaftaran,Nama,Kelurahan,RW,RT,Prioritas Zonasi,Umur,Asal SMP,Jalur Daftar,Status
1245,63,64,200107200060003,TYAS ADIRA RAHAYU NINGSIH,Batu Ampar,5,7,3.0,12 th 11 bl 11 hr,49,Zonasi,Daftar Ulang

## Menganalisa diurutan keberapa jika mendaftar di SMA Negeri 62 Jakarta

In [41]:
df_62 = df[df['Kelurahan'].isin(['Kramat Jati', 'Dukuh', 'Bale Kambang', 'Batu Ampar', 'Cawang', 'Cililitan', 'Rambutan', 'Gedong', 
                                 'Pinang Ranti', 'Kebon Pala', 'Tengah'])].sort_values('Umur', ascending=False).reset_index()

In [42]:
df_62

,index,Peringkat,Nomer Pendaftaran,Nama,Kelurahan,RW,RT,Prioritas Zonasi,Umur,Asal SMP,Jalur Daftar,Status
0,398,1,200103200320003,MUHAMMAD ABDUL RAHMAN,Batu Ampar,4,0,3.0,15 th 00 bl 28 hr,20,Afirmasi (Inklusi),Daftar Ulang
1,1635,17,200102200360004,MUZAKY HISBULLAH WIDIANTO,Dukuh,5,9,3.0,14 th 11 bl 29 hr,24,Afirmasi (KJP),Daftar Ulang
2,996,1,200103201280002,TRI ZAHRINI,Batu Ampar,0,0,3.0,14 th 11 bl 23 hr,126,Afirmasi (Inklusi),Daftar Ulang
3,8381,6,200107202690014,KURNIAWAN DIANSAH,Pinang Ranti,1,2,3.0,14 th 11 bl 16 hr,272,Zonasi,Daftar Ulang
4,2269,8,200107200590084,ARVA SABILLILAH,Cililitan,7,12,3.0,14 th 11 bl 13 hr,50,Zonasi,Daftar Ulang
...,...,...,...,...,...,...,...,...,...,...,...,...
4346,5379,32,200104201890082,NAUFAL HADI ADITYA,Rambutan,4,0,NaN,11 th 03 bl 20 hr,208,Prestasi (Akademik),Daftar Ulang
4347,5691,59,200102202100046,REZA DWI PERMANA,Tengah,7,6,NaN,11 th 01 bl 09 hr,209,Afirmasi (KJP),Daftar Ulang
4348,6991,9,200104202230079,ANANDA ZHAKI IBRAHIM,Gedong,3,0,NaN,11 th 00 bl 18 hr,257,Prestasi (Akademik),Daftar Ulang
4349,937,7,200104201280204,ZIYAD TRYSTAN RABBANI SARWONO,Batu Ampar,4,0,NaN,11 th 00 bl 03 hr,126,Prestasi (Akademik),Tidak Daftar Ulang
4350,1952,69,200102200460019,GILANG RAMADHAN,Bale Kambang,1,8,3.0,10 th 08 bl 12 hr,35,Afirmasi (KJP),Daftar Ulang

In [43]:
df_62.loc[df_62['Nama'].str.contains('Tyas Adira Rahayu Ningsih', case=False)] # melihat di posisi berapa value dari kolom Nama yaitu Tyas Adira Rahayu Ningsih

,index,Peringkat,Nomer Pendaftaran,Nama,Kelurahan,RW,RT,Prioritas Zonasi,Umur,Asal SMP,Jalur Daftar,Status
1415,63,64,200107200060003,TYAS ADIRA RAHAYU NINGSIH,Batu Ampar,5,7,3.0,12 th 11 bl 11 hr,49,Zonasi,Daftar Ulang

## Menganalisa diurutan keberapa jika mendaftar di SMA Negeri 93 Jakarta

In [44]:
df_93 = df[df['Kelurahan'].isin(['Tengah', 'Rambutan', 'Tanjung Barat', 'Bale Kambang', 'Batu Ampar', 'Dukuh', 'Susukan', 
                                   'Pinang Ranti', 'Lubang Buaya', 'Kramat Jati', 'Cililitan', 'Gedong'])].sort_values('Umur', ascending=False).reset_index()

In [45]:
df_93

,index,Peringkat,Nomer Pendaftaran,Nama,Kelurahan,RW,RT,Prioritas Zonasi,Umur,Asal SMP,Jalur Daftar,Status
0,398,1,200103200320003,MUHAMMAD ABDUL RAHMAN,Batu Ampar,4,0,3.0,15 th 00 bl 28 hr,20,Afirmasi (Inklusi),Daftar Ulang
1,1635,17,200102200360004,MUZAKY HISBULLAH WIDIANTO,Dukuh,5,9,3.0,14 th 11 bl 29 hr,24,Afirmasi (KJP),Daftar Ulang
2,996,1,200103201280002,TRI ZAHRINI,Batu Ampar,0,0,3.0,14 th 11 bl 23 hr,126,Afirmasi (Inklusi),Daftar Ulang
3,8381,6,200107202690014,KURNIAWAN DIANSAH,Pinang Ranti,1,2,3.0,14 th 11 bl 16 hr,272,Zonasi,Daftar Ulang
4,2269,8,200107200590084,ARVA SABILLILAH,Cililitan,7,12,3.0,14 th 11 bl 13 hr,50,Zonasi,Daftar Ulang
...,...,...,...,...,...,...,...,...,...,...,...,...
4781,5691,59,200102202100046,REZA DWI PERMANA,Tengah,7,6,NaN,11 th 01 bl 09 hr,209,Afirmasi (KJP),Daftar Ulang
4782,6991,9,200104202230079,ANANDA ZHAKI IBRAHIM,Gedong,3,0,NaN,11 th 00 bl 18 hr,257,Prestasi (Akademik),Daftar Ulang
4783,937,7,200104201280204,ZIYAD TRYSTAN RABBANI SARWONO,Batu Ampar,4,0,NaN,11 th 00 bl 03 hr,126,Prestasi (Akademik),Tidak Daftar Ulang
4784,11024,11,200104201830335,MUHAMMAD SYAHMI TRIHANDOKO,Tanjung Barat,5,0,NaN,10 th 09 bl 07 hr,154,Prestasi (Akademik),Daftar Ulang
4785,1952,69,200102200460019,GILANG RAMADHAN,Bale Kambang,1,8,3.0,10 th 08 bl 12 hr,35,Afirmasi (KJP),Daftar Ulang

In [46]:
df_93.loc[df_93['Nama'].str.contains('Tyas Adira Rahayu Ningsih', case=False)]

,index,Peringkat,Nomer Pendaftaran,Nama,Kelurahan,RW,RT,Prioritas Zonasi,Umur,Asal SMP,Jalur Daftar,Status
1716,63,64,200107200060003,TYAS ADIRA RAHAYU NINGSIH,Batu Ampar,5,7,3.0,12 th 11 bl 11 hr,49,Zonasi,Daftar Ulang

## Menganalisa diurutan keberapa jika mendaftar di SMA Negeri 104 Jakarta

In [47]:
df_104 = df[df['Kelurahan'].isin(['Gedong', 'Rambutan', 'Susukan', 'Dukuh', 'Tanjung Barat', 'Bale Kambang', 'Batu Ampar', 
                                  'Jati Padang', 'Tengah', 'Baru', 'Pejaten Timur', 
                                  'Pasar Minggu', 'Cijantung'])].sort_values('Umur', ascending=False).reset_index()

In [48]:
df_104

,index,Peringkat,Nomer Pendaftaran,Nama,Kelurahan,RW,RT,Prioritas Zonasi,Umur,Asal SMP,Jalur Daftar,Status
0,398,1,200103200320003,MUHAMMAD ABDUL RAHMAN,Batu Ampar,4,0,3.0,15 th 00 bl 28 hr,20,Afirmasi (Inklusi),Daftar Ulang
1,1635,17,200102200360004,MUZAKY HISBULLAH WIDIANTO,Dukuh,5,9,3.0,14 th 11 bl 29 hr,24,Afirmasi (KJP),Daftar Ulang
2,10077,1,200107202180018,AHMAD FAJRI,Jati Padang,8,6,1.0,14 th 11 bl 24 hr,218,Zonasi,Daftar Ulang
3,996,1,200103201280002,TRI ZAHRINI,Batu Ampar,0,0,3.0,14 th 11 bl 23 hr,126,Afirmasi (Inklusi),Daftar Ulang
4,9831,39,200102201640058,AHMAD FIQRI,Pejaten Timur,8,7,3.0,14 th 10 bl 27 hr,163,Afirmasi (KJP),Daftar Ulang
...,...,...,...,...,...,...,...,...,...,...,...,...
4493,6991,9,200104202230079,ANANDA ZHAKI IBRAHIM,Gedong,3,0,NaN,11 th 00 bl 18 hr,257,Prestasi (Akademik),Daftar Ulang
4494,937,7,200104201280204,ZIYAD TRYSTAN RABBANI SARWONO,Batu Ampar,4,0,NaN,11 th 00 bl 03 hr,126,Prestasi (Akademik),Tidak Daftar Ulang
4495,4389,54,200104201070065,FATUR DWI AGENG SELO,Baru,1,0,NaN,11 th 00 bl 00 hr,179,Prestasi (Akademik),Daftar Ulang
4496,11024,11,200104201830335,MUHAMMAD SYAHMI TRIHANDOKO,Tanjung Barat,5,0,NaN,10 th 09 bl 07 hr,154,Prestasi (Akademik),Daftar Ulang
4497,1952,69,200102200460019,GILANG RAMADHAN,Bale Kambang,1,8,3.0,10 th 08 bl 12 hr,35,Afirmasi (KJP),Daftar Ulang

In [49]:
df_104.loc[df_104['Nama'].str.contains('Tyas Adira Rahayu Ningsih', case=False)]

,index,Peringkat,Nomer Pendaftaran,Nama,Kelurahan,RW,RT,Prioritas Zonasi,Umur,Asal SMP,Jalur Daftar,Status
1674,63,64,200107200060003,TYAS ADIRA RAHAYU NINGSIH,Batu Ampar,5,7,3.0,12 th 11 bl 11 hr,49,Zonasi,Daftar Ulang

## Menganalisa diurutan keberapa jika mendaftar di SMA Negeri 14 Jakarta

In [54]:
df_14 = df[df['Kelurahan'].isin(['Cililitan', 'Cawang', 'Rawajati', 'Pejaten Barat', 'Pejaten Timur', 'Bale Kambang', 
                                 'Batu Ampar', 'Dukuh', 'Kebon Pala', 'Makasar', 'Pancoran', 'Pengadegan', 
                                 'Kramat Jati', 'Cikoko', 'Duren Tiga', 'Kalibata', 'Kebon Baru'])].sort_values('Umur', ascending=False).reset_index()

In [55]:
df_14

,index,Peringkat,Nomer Pendaftaran,Nama,Kelurahan,RW,RT,Prioritas Zonasi,Umur,Asal SMP,Jalur Daftar,Status
0,398,1,200103200320003,MUHAMMAD ABDUL RAHMAN,Batu Ampar,4,0,3.0,15 th 00 bl 28 hr,20,Afirmasi (Inklusi),Daftar Ulang
1,1635,17,200102200360004,MUZAKY HISBULLAH WIDIANTO,Dukuh,5,9,3.0,14 th 11 bl 29 hr,24,Afirmasi (KJP),Daftar Ulang
2,996,1,200103201280002,TRI ZAHRINI,Batu Ampar,0,0,3.0,14 th 11 bl 23 hr,126,Afirmasi (Inklusi),Daftar Ulang
3,2269,8,200107200590084,ARVA SABILLILAH,Cililitan,7,12,3.0,14 th 11 bl 13 hr,50,Zonasi,Daftar Ulang
4,252,15,200102200060218,ANGGI PRATIWI,Kramat Jati,11,10,2.0,14 th 10 bl 29 hr,49,Afirmasi (KJP),Daftar Ulang
...,...,...,...,...,...,...,...,...,...,...,...,...
4463,11128,11,200107201550102,FELICIA BARUNA PUTRI NUR,Pengadegan,5,2,2.0,11 th 03 bl 26 hr,154,Zonasi,Daftar Ulang
4464,11332,17,200107201560059,ANDIKA JAHDAN TAZAKKA,Cikoko,5,3,2.0,11 th 03 bl 02 hr,155,Zonasi,Daftar Ulang
4465,11571,22,200107201640050,YUANITA VERA FIRDAYANTI,Kalibata,8,4,2.0,11 th 00 bl 11 hr,182,Zonasi,Daftar Ulang
4466,937,7,200104201280204,ZIYAD TRYSTAN RABBANI SARWONO,Batu Ampar,4,0,NaN,11 th 00 bl 03 hr,126,Prestasi (Akademik),Tidak Daftar Ulang
4467,1952,69,200102200460019,GILANG RAMADHAN,Bale Kambang,1,8,3.0,10 th 08 bl 12 hr,35,Afirmasi (KJP),Daftar Ulang

In [57]:
df_14.loc[df_14['Nama'].str.contains('Tyas Adira Rahayu Ningsih', case=False)]

,index,Peringkat,Nomer Pendaftaran,Nama,Kelurahan,RW,RT,Prioritas Zonasi,Umur,Asal SMP,Jalur Daftar,Status
1442,63,64,200107200060003,TYAS ADIRA RAHAYU NINGSIH,Batu Ampar,5,7,3.0,12 th 11 bl 11 hr,49,Zonasi,Daftar Ulang

In [64]:
df_51.to_excel('data_ppdb_sma51.xlsx')